
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.orange-color {
  color: orange
}
.flexible-container {
  display: flex;
  margin-bottom: 120px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  display: block;
  margin: auto;
  margin-top: 5%;
  width: 80%;
}
.orange-button {
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(252, 200, 151), tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.exp-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;

}
.exp-card {
  width: 40%;
  background-color: #fff;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 30px;
  padding-right: 20px;
  box-shadow: 10px 10px 30px gray;
  border-radius: 0 10px 10px 0;
  border-left: 10px solid blue;
}
#full-stack-dev {
  border-left: 10px solid tomato;
}
footer p {
  text-align: center;
}